/* index.css */
.app-container {
    display: grid;
    grid-template-rows: auto 1fr 0.1fr;
    height: 100vh;
    gap: 1px; /* Adding gap between grid items */
  }
  
  .appbar-container, .sidebar-container, .main-container {
    border: 2px solid #333; /* Border for visualization */
    margin: 1px; /* Small margin around each component */

  }
  .content-container {
    display: grid;
    grid-template-columns: 1fr 4fr; /* Sidebar width and remaining space for MainScreen */
  }
  
  .appbar-container {
    /* Additional styles for AppBar */
  }
  
  .sidebar-container {
    /* Additional styles for SideBar */
  }
  
  .main-container {
    /* Additional styles for MainScreen */
  }
  